@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 276 92% 5%;
    --foreground: 0 0% 98%;

    --card: 276 50% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 276 50% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 279 68% 61%;
    --primary-foreground: 0 0% 98%;

    --secondary: 279 50% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 279 10% 20%;
    --muted-foreground: 279 5% 60%;

    --accent: 278 100% 74%;
    --accent-foreground: 276 92% 5%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 279 68% 30%;
    --input: 279 68% 30%;
    --ring: 279 68% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .glass-card {
    @apply bg-card/50 backdrop-blur-lg border rounded-xl;
  }
}

@layer utilities {
  .bg-dot-purple\/\[mask-image\:radial-gradient\(ellipse_at_center\,black\,transparent_50\%\)\] {
    background-image: linear-gradient(
        45deg,
        hsl(var(--primary) / 0.5) 25%,
        transparent 25%
      ),
      linear-gradient(-45deg, hsl(var(--primary) / 0.5) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, hsl(var(--primary) / 0.5) 75%),
      linear-gradient(-45deg, transparent 75%, hsl(var(--primary) / 0.5) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }
  .animated-gradient-bg {
    background: linear-gradient(
      -45deg,
      #0a0118,
      #29002a,
      #0a0118,
      #9d4edd
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
